.dashboard
  .sidebar
    .sidebar-menu.padded
      .logo = 'Hubum'
      .sidebar-menu-username-container
        .sidebar-menu-bubble
        .sidebar-menu-username = current_user.try(:username) || 'guest'
      .sidebar-menu-item
    .sidebar-channels
      .sidebar-channel-item.is-active
        span = '👑'
        = 'library'
      a.sidebar-channel-item href='http://www.facebook.com/groups/hubum' target='_blank'
        span = '👯'
        = 'community'


  main.main
    .navbar-wrapper
      .navbar
        .navbar-main
          .navbar-user-infos
            .navbar-username
              = "@#{@user.username}"
            .navbar-user-fullname
              = "#{@user.first_name} #{@user.last_name}"
        .navbar-menu
          = react_component 'SearchInput', {}
    .main-content

      .user-profile
        .user-profile-avatar
          = image_tag @user.facebook_picture_url.gsub('100', '300')
        div
          .user-profile-fullname
            = "#{@user.first_name} #{@user.last_name}"
          .user-profile-tagline
            = 'Digger by day, digger by night'
      = react_component 'TrackList',  render(template: 'tracks/tracklist.jbuilder')

