.centered-layout
  div.form.centered
    = image_tag current_user.facebook_picture_url.gsub('?height=100&width=100','?height=500&width=500'), class: 'avatar avatar-big'
    div.form-title
      = "Welcome #{current_user.first_name}".html_safe
    div.form-subtitle
      = 'You are about to join <strong>Hubum</strong>, the music libraries network<br/> enter your <span>username</span> & an <span>email</span> to get started'.html_safe
    - current_user.errors.messages.any?
      div class='form-errors'
        - current_user.errors.messages.each do |key, array|
          div
            = key.to_s + " "
            = array[0]

    = simple_form_for current_user, html: {class: 'form no-errors'} do |f|
      .input-wrapper
        .input-container
          span = "👤"
          = f.input :username, type: :text, placeholder: 'username', maxlength: 15,  label: false
      .input-wrapper
        .input-container
          span = "✉️"
          = f.input :email, type: :email, placeholder: 'email@hubum.com', label: false

      div class='form-btn-container is-on-left'

        button type="submit" class="btn btn-brand"
          i = ['✨', '⚡️', '🔥', '🎶'].sample
          span = 'Create your library'
