.btn {
  padding: 9px 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  transition: box-shadow .15s ease;
  padding-top: 11px;
  background: white;
  border-radius: 5px;
  border: none;
  outline: 0;
  position: relative;


  &-brand {
    background-image: linear-gradient(-23deg, #3494E6, #EC6EAD);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    text-decoration: none;
    span {
      margin-right: 2px !important;
    }

    i {
      margin-right: 8px;
      top: 1px;
      font-style: normal;
      position: relative;
    }
    span {
      -webkit-background-clip: text;
      background-image: linear-gradient(-23deg, #3494E6, #EC6EAD);
      -webkit-text-fill-color: transparent;
      cursor: pointer;

    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      background: white;
      left: 0;
      border-radius: 4px;
      margin: 1px;
      z-index: -1;
      right: 0;
      cursor: pointer;
      bottom: 0;
    }


    &:hover {
      background: linear-gradient(0, #3494E6, #EC6EAD) !important;
      background-image: linear-gradient(0, #3494E6, #EC6EAD) !important;

      span {
        background-image: linear-gradient(0, #3494E6, #EC6EAD);
      }
    }

    &:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) !important;

    }
  }

  &-dark {
    box-shadow: none;
    background: #232323;
    color: white;

    &:hover {
      background: black;
      color: white;
    }
  }
  &:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0px 0px rgba(0, 0, 0, 0.1);
  }

  span {
    margin-right: 6px;
    display: inline-block;
    position: relative;
    top: 1px;
  }
}

button.btn-brand {
  font-family: Atlas tr;
  letter-spacing: -1px;
}

.btn-brand {
  &:after {
    background: linear-gradient(#fff, #FAFAFA);
  }
}
