.main {
  padding-left: 220px;
  color: rgba(black, .8);
  background: white;

  &-loader {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: white;
    margin-left: 220px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b3b3b3;
  }

  &-content {
    padding-top: 82px;
    z-index: 0;
    position: relative;
    min-height: 100vh;
  }
}

.blurred-img {
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60%;
  z-index: 0;
  filter: blur(100px);
  opacity: .2;
  background-position: center center;

  &-container {
    transition: opacity 1s linear;
    opacity: 0;
    &.is-loaded {
      opacity: 1;
    }
  }
}


