.main-wrapper {
  position: relative;
  padding-left: 220px;
  background: white;
  min-height: 100vh;
}
.main {
  padding-top: 80px;
  color: rgba(black, .8);

  &-loader {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: white;
    margin-left: 220px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b3b3b3;
  }

  &-content {
    z-index: 0;
    position: relative;
    display: flex;
    flex-flow: column;

    &-scrollable {
      overflow: scroll;
      height: calc(100vh - 80px);
    }
  }
}

.blurred-img {
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60%;
  z-index: 0;
  filter: blur(100px);
  opacity: .2;
  background-position: center center;

  &-container {
    transition: opacity 1s linear;
    opacity: 0;
    &.is-loaded {
      opacity: 1;
    }
  }
}

.main-empty-screen {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  margin-top: -100px;
  position: relative;
  z-index: 9;
  .input-container {
    text-align: center;
    margin-top: 20px;

  }
  &-title {
    color: #585858;
    a {
      color: darken(#585858, 20%);
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: darken(#585858, 50%);
      }
    }
  }

  &-emoji {
    text-align: center;
    font-size: 70px;
  }
}

.main.is-empty {
  .navbar-wrapper {
    opacity: 0;
  }
  .user-profile {
    opacity: 0;
  }
}
