.sidebar-channels, .sidebar-people {
  margin-top: 20px;
  padding-right: 20px;
}

.sidebar {
  background: #232323;
  position: fixed;
  top: 0;
  bottom: 0;
  user-select: none;
  left: 0;
  width: 220px;
  z-index: 2;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-size: 22px;
}

.sidebar-menu {
  position: relative;
  cursor: pointer;
  background: rgba(0,0,0,0);

  &:hover {
    background: rgba(0,0,0,0.2);
  }
}

.sidebar-menu-username-container {
  display: flex;
  align-items: center;
  margin-top: 1px;
}

.sidebar-menu-bubble {
  width: 8px;
  height: 8px;
  background: #2ecc71;
  border-radius: 50%;
  margin-right: 3px;

  &.is-offline {
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-right: 3px;
  }
}

.sidebar-menu-username {
  color: white;
  opacity: .5;
  font-size: 13px;
  margin-left: 3px;
}

.sidebar-menu-item {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 4px;
  width: 4px;
  background: white;
  opacity: .4;
  margin: auto;
  border-radius: 50%;
  margin-right: 20px;

  &:after, &:before {
    content: '';
    height: 4px;
    width: 4px;
    background: white;
    position: absolute;
    left: -10px;
    border-radius: 50%;
  }

  &:before {
    left: -20px;
  }
}

.sidebar-channel-item {
  padding: 6px 0;
  border-radius: 0 5px 5px 0;
  padding-top: 8px;
  color: rgba(white, .5);
  padding-left: 20px;
  display: block;
  cursor: pointer;
  text-decoration: none;
  outline: 0;

  i {
    margin-right: 10px;
    font-style: normal;
    font-size: 17px;
  }

  &.is-active {
    cursor: default;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.41);
  }
}

.sidebar-people-item {

  & > div {
    display: table;
  }

  span {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;

    &:last-child {
      padding-top: 1px;
    }
  }
  img {
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 3px;
    background-color: rgba(white, .3)
  }
}

.sidebar-people-title {
  padding-left: 20px;
  margin-bottom: 5px;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: .6;
  font-size: 12px;

  span {
    margin-left: 3px;
    font-size: 11px;
    opacity: .5;
  }
}
