.track-item-thumbnail-container {
  position: relative;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    content: '';
  }

  img {
    flex: 0 0 42;
    height: 42px;
    width: 42px;
    // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    object-fit: cover;
    display: block;
    border-radius: 5px;
  }

  &:hover {
    .track-item-thumbnail-state {
      background: rgba(255, 255, 255, 1);
    }
  }
}

.track-item-thumbnail-state {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22);
  background: rgba(255, 255, 255, 0.95);
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: black;
  height: 35px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  font-size: 18px;
  width: 35px;
  justify-content: center;
  position: absolute;
  display: none;

  &.is-playing, &.is-paused {
    display: flex !important;
  }

  i.mdi-play {
    position: relative;
    left: -1px;
    color: black;
  }
}
