.tracklist-wrapper {
  flex: 1;
  overflow: scroll;
  overflow-x: hidden;
}

.tracklist {
  position: relative;
  padding: 20px 15px;
  padding-top: 0;
}

.track-item {
  display: flex;
  padding: 0 5px;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  user-select: none;
  position: relative;

  &-bg {
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
  }

  &.just-added {
    .track-item-bg {
      animation: justAdded 1s ease 3s forwards;
      background: rgba(255, 182, 0, 0.16);

    }

  }

  &-release-title {
    opacity: .5;
    margin-top: 2px;
  }

  &:hover {
    .track-item-thumbnail-state {
      display: flex;
    }
  }

  &.is-selected {
    background: #2E8AF7 !important;
    .track-item-infos {
      color: white;
    }
  }

  .track-item-thumbnail-container {
    margin: 5px 0px;
    margin-right: 10px;
    position: relative;
    z-index: 2;
  }
}

.track-item-cell {
  padding: 0 10px;

  &:last-child {
    text-align: right;
    flex: 0 0 60px;
  }

  &-year {
    flex: 0 0 100px !important;
  }
}

.track-item-cell-primary {
  flex: 4;

  &:first-child { padding-left: 0 }
}

.track-item-cell-secondary {
  flex: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.track-item-infos {
  flex: 1;
  font-size: 13px;
  align-self: stretch;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  align-items: center;
  padding-top: 3px;
  position: relative;
  z-index: 2;
  color: black;
  letter-spacing: -0.7px;
}

@keyframes justAdded {
  to {
    background: rgba(255, 182, 0, 0.0);
  }
}
