.user-profile {
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;

  img {
    border-radius: 5px;
    width: 80px;
    height: 80px;
    background: #FAFAFA;
    display: block;
  }
}

.user-profile-avatar {
  background: #FAFAFA;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.user-profile-fullname {
  font-size: 16px;
  font-weight: 500;
}

.user-profile-tagline {
  opacity: .6;
  margin-top: 3px;
  font-size: 16px;
}
