.youtube-player {
  width: 160 * 1.7 * 1px;
  height: 90 * 1.7 * 1px;
  position: fixed;
  opacity: .95;
  right: 0;
  bottom: 0;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  display: none;
  background: black;
  z-index: 3;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  &:hover {
    opacity: 1;
  }

  &.is-active {
    display: block;
  }

  iframe {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    border: 0;
  }
}
